@import '../../scss/variables';

.menu__heading {
    li span {
        padding-top: 5px;
    }
    li:first-child {
        margin-bottom: 52px;
        font-family: $paragraph-font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $font-color-blue;
        cursor: pointer;
        padding-left: 15px;
    }
    li:last-child {
        margin-bottom: 41px;
    }
}