@mixin card-grid {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin-bottom: 14px;
}
@mixin actionBtn {
    padding: 12px 16px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: transparent;
    font-family: $paragraph-font-family;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
}