@import '../../src/scss/variables';

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../assets/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../assets/fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100vh;
}